<ion-view view-title="Account">
  <ion-content>
    <!--<ion-list>-->
    <!--<ion-toggle  ng-model="settings.enableFriends">-->
        <!--Enable Friends-->
    <!--</ion-toggle>-->
      <!--<button class="button button-positive">-->
        <!--button-positive-->
      <!--</button>-->
    <!--</ion-list>-->
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div style="background-color: #0a9dc7"></div>
      </ion-slide>
      <ion-slide>
        <div style="background-color: #0c60ee"></div>
      </ion-slide>
      <ion-slide>
        <div style="background-color: #4cd964"></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
